<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/styles/body.css">
  <link rel="stylesheet" href="/static/styles/image.css">

  <link rel="shortcut icon" type="image/jpg" href="/static/img/favicon.ico" />
  <title>PhotoStream</title>
  <style>
    body { flex-direction: column; justify-content: flex-start; align-items: center; }
  </style>
</head>

<body>
  <div>
    <h1>PhotoStream</h1>
  </div>
  <div>
    <ul>
      {% for topic in topics %}
      <li><a href="/{{ topic }}">{{ topic }}</a></li>
      {% endfor %}
    </ul>
  </div>
</body>

</html>