<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/styles/body.css">
  <link rel="stylesheet" href="/static/styles/image.css">

  <!-- JavaScript -->
  <script src="/static/js/autorefresh.js"></script>

  <link rel="shortcut icon" type="image/jpg" href="/static/img/favicon.ico" />
  <title>PhotoStream</title>
</head>

<body onload="JavaScript:AutoRefresh(5000)">
  <div class="fullscreen">
    <img src="./{{ image }}" alt="{{ image }}" />
  </div>
</body>

</html>