<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_prefix }}/static/styles/body.css">
  <link rel="stylesheet" href="{{ url_prefix }}/static/styles/image.css">

  <!-- JavaScript -->
  <script>
    image = null
    topic = "{{ topic }}"
    url_prefix = "{{ url_prefix }}"
  </script>
  <script src="{{ url_prefix }}/static/js/autorefresh.js"></script>
  <script src="{{ url_prefix }}/static/js/keyboard.js"></script>

  <link rel="shortcut icon" type="image/jpg" href="{{ url_prefix }}/static/img/favicon.ico" />
  <title>PhotoStream - {{ topic }}</title>
</head>

<body>
  <div class="flex-container">
    <img id="image" src="" alt="" />
  </div>
</body>

</html>